* {
  margin: 0;
  padding: 0;
}

nav {

  height: 180px;
  width: 100%;
  background: linear-gradient(66deg, rgb(251,247,245), rgb(238, 189, 180));
  border: solid rgb(0, 0, 0) 5px;
  }


.navbar-brand {
  color: rgb(0, 0, 0);
  font-family: 'Marcellus SC';
  font-size: 4em;
  margin-right: 20px;
}

.navbar-brand:hover {
  color: rgb(0, 0, 0);
}

.nav-item a{
  color: rgb(0, 0, 0);
  font-family: 'Marcellus SC';
  font-size: 2.5em;
  margin: 15px;
}

.nav-item a:hover {
  color: rgb(67, 119, 175);
}

.active {
  text-decoration: underline;
}

.hero-image {
  background-image: url(/assets/images/main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 70vh;
  width: 100vw;
  padding-top: 20vh;
  border: rgb(0, 0, 0) solid 5px;
}

.hero-image h2 {
  width: 30vh;
  font-family: 'Bellefair';
  font-size: 3rem;
  background: rgba(162, 210, 255, 0.5);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
.hero-image p {
  width: 30vh;
  font-family: 'Bellefair';
  font-size: 2rem;
  background: rgba(162, 210, 255, 0.5);
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.covid-modal-btn {
  font-family: 'Bellefair';
  font-size:1.6rem;
  color: rgb(0, 0, 0);
  background-color:rgb(238, 189, 180);
  margin-bottom: 30px;
  border: none;
}
.covid-modal-btn:hover {
  color: rgb(67, 119, 175);
  background-color:rgb(238, 189, 180);
  margin-bottom: 30px;
  border: none;

}

.modal-content {
  font-family: 'Bellefair';
  font-size: 1.5rem;
  background-color: rgb(106, 163, 224);
}

.covid-modal-header h3 {
  font-size: 3rem;
}

.section-heading {
  font-family: 'Bubbler One';
  font-size: 4.5rem;
}

.info-card {
margin: 60px;
font-family: 'Bellefair';
font-size: 1.5rem;
}

.info-card h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.info-card a {
  color: rgb(0, 0, 0);
}

.carousel-caption {
  color: rgb(0, 0, 0);
}

.blog-carousel-container {
background-image: url(/assets/images/blog-post-background.jpg);
background-size: cover;
background-repeat: no-repeat;
text-align:center;
padding:0;
object-fit: fill;
margin-bottom: 100px;
}

.blog-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-link-container {
  background-color: rgba(162, 210, 255, 0.5);
}

.blog-link-container a {
  font-family: 'Bellefair';
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px   rgb(255, 255, 255);
}

.blog-link-container h4 {
  font-size: 2rem;
}

.blog-link-container p {
  font-size: 1.5rem;
}

.blog-container {
background: url(/assets/images/blog-post-background.jpg);
margin-top: 75px;
margin-bottom: 75px;
}

.blog-content{
font-family: 'Bellefair';
font-size: 1.5rem;
line-height: 2.5rem;
border: solid black 6px;
background-color: rgb(255, 255, 255);
margin: auto;
padding: auto;
box-sizing: border-box;
}

#blog-image-01 {
  height: 600px;
  width: 1300px;
  background-image: url(/assets/images/blog-post-01-hands.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}
#blog-image-02 {
  height: 600px;
  width: 1300px;
  background-image: url(/assets/images/blog-post-02-lashes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
#blog-image-03 {
  height: 600px;
  width: 1300px;
  background-image: url(/assets/images/blog-post-03-cotton.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

 /* The following code snippet for styling the Blog section's carousel controls was found at 'https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel' and has been altered for my use */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px; 
  outline: rgb(0, 0, 0);
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px   rgb(255, 255, 255);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px   rgb(255, 255, 255);

}

/* Here marks the end of the snippet from https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel. */

.client-background {
  background-color: rgb(237, 242, 244);
  margin-bottom: 100px;
}

.client-image-container-01 {
  width: 300px;
  height: 300px;
  border: rgb(0, 0, 0) solid 5px;
  background: url(/assets/images/client-image-01.jpg) no-repeat center center;
  border-radius: 50%;
  margin:auto;
  margin-top: 75px;
}
.client-image-container-02 {
  width: 300px;
  height: 300px;
  border: rgb(0, 0, 0) solid 5px;
  background: url(/assets/images/client-image-02.jpg) no-repeat center center;
  border-radius: 50%;
  margin:auto;
  margin-top: 75px;
}
.client-image-container-03 {
  width: 300px;
  height: 300px;
  border: rgb(0, 0, 0) solid 5px;
  background: url(/assets/images/client-image-03.jpg) no-repeat center center;
  border-radius: 50%;
  margin:auto;
  margin-top: 75px;
}

.client-heading {
margin-top: 50px;
margin-bottom: 50px;
}

.client-text h4 {
  font-family: 'Bellefair';
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px   rgb(255, 255, 255);
}

.client-text p {
  font-family: 'Bellefair';
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px   rgb(255, 255, 255);  
}

.footer-brand {
  color: rgb(0, 0, 0);
  font-family: 'Marcellus SC';
  font-size: 2rem;
  margin: 20px;
}

.footer-brand:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact-text {
  font-family: 'Marcellus SC';
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.contact-text h5 {
  font-size: 1.5em;
}
.contact-text a{
  color: rgb(0, 0, 0);
}

.copyright-text {
  font-family: 'Marcellus SC';
  font-size: 1em;
  margin-bottom: 20px;
}

.social-icon {
  margin: 60px 40px 50px 40px;
  color: rgb(0, 0, 0);
}

.footer-container {
  background-color: rgba(162, 210, 255, 0.5);
  min-height: 200px;
  padding: 30px;
}

.treatment-heading {
  font-family: 'Bubbler One';
  font-size: 3rem;
  margin-top: 75px;
}

.treatment-table {
  font-family: 'Bubbler One';
  font-size: 1.5rem;
}

.treatment-table-background td:nth-child(odd) {
  background-color: aquamarine;
}
.treatment-table-background td:nth-child(even) {
  background-color: blue;
}

.treatment-table tr:nth-child(even) {
  background-color: rgb(211, 211, 211);
}

.treatment-table-last {
margin-bottom: 75px;
}

#treatment-main-heading {
  margin-top: 75px;
}