nav {

  height: 200px;
  background: linear-gradient(66deg, rgb(251,247,245), rgb(238, 189, 180));
  border: solid rgb(0, 0, 0) 5px;
  }


.navbar-brand {
  color: rgb(0, 0, 0);
  font-family: 'Marcellus SC';
  font-size: 5em;
  margin-right: 20px;
}

.navbar-brand:hover {
  color: rgb(0, 0, 0);
}

.nav-item a{
  color: rgb(0, 0, 0);
  font-family: 'Marcellus SC';
  font-size: 2.5em;
  margin: 15px;
}

.nav-item a:hover {
  color: rgb(67, 119, 175);
}

.active {
  text-decoration: underline;
}

.hero-image {
  background-image: url(/assets/images/main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 70vh;
  padding-top: 20vh;
  border: rgb(0, 0, 0) solid 5px;
}

.hero-image h2 {
  width: 30vh;
  font-family: 'Bellefair';
  font-size: 3rem;
  background: rgb(221, 190, 169, 0.5);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.hero-image p {
  width: 30vh;
  font-family: 'Bellefair';
  font-size: 2rem;
  background: rgb(221, 190, 169, 0.5);
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
}

.section-heading {
  font-family: 'Bubbler One';
  font-size: 4.5rem;
  margin-top: 75px;
  margin-bottom: 75px;
}
